basePath: /api
definitions:
  api.LoginReq:
    properties:
      password:
        type: string
      username:
        type: string
    required:
    - password
    - username
    type: object
  dao.UserCreateReq:
    properties:
      password:
        type: string
      username:
        type: string
    required:
    - password
    - username
    type: object
  response.Result:
    properties:
      code:
        type: integer
      data: {}
      msg:
        type: string
    type: object
host: localhost:8080
info:
  contact: {}
  title: Go Web Starter
  version: "1.0"
paths:
  /login:
    post:
      consumes:
      - application/json
      parameters:
      - description: 登录参数
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/api.LoginReq'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/response.Result'
      summary: 登录
      tags:
      - Auth
  /users:
    get:
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/response.Result'
      security:
      - ApiKeyAuth: []
      summary: 用户列表
      tags:
      - User
    post:
      consumes:
      - application/json
      parameters:
      - description: 用户信息
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/dao.UserCreateReq'
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/response.Result'
      security:
      - ApiKeyAuth: []
      summary: 创建用户
      tags:
      - User
securityDefinitions:
  ApiKeyAuth:
    in: header
    name: Authorization
    type: apiKey
swagger: "2.0"
